<div class="site-banner">
    <div class="site-banner-background"></div>
    <div class="section has-navbar">
        <div class="container">
            <h1>
                Rainbow {{vm.site.name}}
            </h1>
            <p class="normal">{{vm.site.address.addressLine1 + ' ' + vm.site.address.addressLine2}}</p>
        </div>
    </div>
</div>

<div class="section section-light-gray">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-details">
                        <h2>Contact</h2>
                        <p><a href="tel:{{vm.site.phone}}">{{vm.site.phone}}</a></p>
                        <p>{{vm.site.address.addressLine1}}</p>
                        <p>{{vm.site.address.city}} {{vm.site.address.province}} {{vm.site.address.postalCode}}<p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="map-lg">
                        <iframe width="{{vm.mapWidth}}" height="450" frameborder="0" style="border:0" ng-src="{{vm.mapSrc}}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PROGRAMS -->
<div class="section section-dark">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">
                Programs
            </h2>
        </div>
        <div class="cards cards-dark">
            <div ng-repeat="program in vm.site.programs" class="card">
                <h4 class="card-header">{{program.name}}</h4>
                <p>{{program.description}}</p>
                <p>Count: {{program.count}}</p>
            </div>
        </div>
    </div>
</div>

<!-- SERVICES -->
<div class="section section-dark-gray">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <h2>Transportation</h2>
                </div>

                <div class="col-md-6">
                    <p class="secondary">With bus service to <span>{{vm.site.schools.length}}</span> school<span ng-show="vm.site.schools.length > 1">s</span>
                    <ul>
                        <li ng-repeat="school in vm.site.schools">{{school.school.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-blue">
    <div class="container">
        <div class="content">
            <div class="list">
                <div class="row">
                    <div class="col-md-6">
                        <p class="list-image">
                            <i class="fa fa-clock-o"></i>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h2>Center Hours</h2>
                        <p>7:00 AM - 5:30 PM</p>
                        <p>blah blah blah?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-5">
                    <h2>Daycare Costs</h2>
                </div>

                <div class="col-md-6 box">
                    <table>
                        <thead>
                            <tr>
                                <th>Col1</th>
                                <th>Col2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Val 1</td>
                                <td>Val 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="content">
            <div class="section-header">
                <h2 class="text-center">Contact</h2>
            </div>
            <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
        </div>
    </div>
</div>
