<div class="site-banner">
    <div class="site-banner-background"></div>
    <nav class="hidden-xs">
        <a class="prev" ng-href="#/shell/site/{{vm.prevSite.code}}">
            <span class="nav-button">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="info">
                <h3>Previous Site</h3>
                <span class="sub-title">{{vm.prevSite.name}}</span>
            </span>
        </a>
        <a class="next" ng-href="#/shell/site/{{vm.nextSite.code}}">
            <span class="nav-button">
                <i class="fa fa-angle-right"></i>
            </span>
            <span class="info">
                <h3>Next Site</h3>
                <span class="sub-title">{{vm.nextSite.name}}</span>
            </span>
        </a>
    </nav>
    <div class="section">
        <div class="container">
            <h1>
                Rainbow {{vm.site.name}}
            </h1>
            <p class="normal">{{vm.site.address.addressLine1 + ' ' + vm.site.address.addressLine2}}</p>
        </div>
    </div>
</div>

<!-- ANNOUNCEMENTS -->
<div class="section section-orange" ng-if="vm.site.message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-details">
                    <h2>Announcements</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="paragraph in vm.site.message">
                <div class="section-paragraph">
                    <span>{{paragraph}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SERVICES -->
<div class="section section-dark-gray">
    <div class="container">
        <div class="section-details">
            <h2>Transportation</h2>
            <p class="sub-title">
                This center provides bus service to
                <span>{{vm.site.schools.length}}</span>&nbsp;<ng-pluralize count="vm.site.schools.length" when="{'1': 'school','other': 'schools'}"></ng-pluralize>
            </p>
            <div class="row cards cards-light">
                <div class="col-md-4" ng-repeat="school in vm.site.schools">
                    <div class="card">
                        <i class="icon fa fa-bus"></i>
                        <h3>{{school.school.name}}</h3>
                        <p>{{school.school.address}}</p>
                        <a ng-href="{{school.school.website}}" target="_blank">School Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PROGRAMS -->
<div class="section section-dark">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">
                Programs
            </h2>
        </div>
        <div class="row">
            <div class="cards cards-dark">
                <div ng-repeat="program in vm.site.programs" class="card col-md-2">
                    <h4 class="card-header">{{program.name}}</h4>
                    <p>{{program.description}}</p>
                    <p>Count: {{program.count}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOCATION -->
<div class="section section-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-details">
                    <h2>Location</h2>
                    <p><a href="tel:{{vm.site.phone}}">{{vm.site.phone}}</a></p>
                    <p>{{vm.site.address.addressLine1}}</p>
                    <p>{{vm.site.address.city}} {{vm.site.address.province}} {{vm.site.address.postalCode}}
                    <p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="map-lg" ng-style="{ width: vm.mapWidth + 'px'}">
                    <iframe width="{{vm.mapWidth}}" height="450" style="border:0" ng-src="{{vm.mapSrc}}"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
