<div class="site-banner">
    <div class="site-banner-background">
        <div class="background-stripes">
            <div class="background-spotlight"></div>
        </div>
    </div>
    <nav class="hidden-xs">
        <a class="prev" ng-href="#/shell/site/{{vm.prevSite.code}}">
            <span class="nav-button">
                <i class="fa fa-angle-left"></i>
            </span>
            <span class="info">
                <h3>Previous Site</h3>
                <span class="sub-title">{{vm.prevSite.name}}</span>
            </span>
        </a>
        <a class="next" ng-href="#/shell/site/{{vm.nextSite.code}}">
            <span class="nav-button">
                <i class="fa fa-angle-right"></i>
            </span>
            <span class="info">
                <h3>Next Site</h3>
                <span class="sub-title">{{vm.nextSite.name}}</span>
            </span>
        </a>
    </nav>
    <div class="section">
        <div class="container">
            <h1>
                Rainbow {{vm.site.name}}
            </h1>
            <p class="normal">{{vm.site.address.addressLine1 + ' ' + vm.site.address.addressLine2}}</p>
            <p ng-if="vm.site.messageSummary"><span class="callout">{{vm.site.messageSummary}}</span></p>
        </div>
    </div>
</div>

<!-- ANNOUNCEMENTS -->
<div class="section section-orange" ng-if="vm.site.message">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-details">
                    <h2>Announcements</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="paragraph in vm.site.message">
                <div class="section-paragraph">
                    <span>{{paragraph}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SCHOOLS -->
<div class="section section-dark-gray">
    <div class="container">
        <div class="section-details">
            <h2>Schools</h2>
            <p ng-if="!vm.site.locatedInSchool" class="sub-title">
                {{vm.site.name}} provides bus service to
                <span>{{vm.site.schools.length}}</span>&nbsp;<ng-pluralize count="vm.site.schools.length" when="{'1': 'school','other': 'schools'}"></ng-pluralize>
            </p>
            <p ng-if="vm.site.locatedInSchool" class="sub-title">
                {{vm.site.name}} is located inside of {{vm.site.schools[0].school.name}} school
            </p>
            <div class="row business-cards">
                <div class="col-md-4" ng-repeat="school in vm.site.schools">
                    <a class="card" ng-href="{{school.school.website}}" target="_blank">
                        <span class="card-header" rdc-background-image="{{school.school.logo}}"></span>
                        <p class="card-body">
                            <h3><span ng-if="school.school.type ==='french-immersion'">&Eacute;cole</span> {{school.school.name}} <span ng-if="school.school.type !== 'french-immersion'">School</span></h3>
                        <p>{{school.school.address}}</p>
                        <span class="link">School Website</span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PHOTOS -->
<div ng-if="vm.photos.length > 0" class="section">
    <div class="container">
        <div class="section-body">
            <div rdc-flex-slider class="flexslider">
                <ul class="slides" rdc-light-gallery>
                    <li ng-repeat="photo in vm.photos" data-src="{{photo.path}}"
                        data-sub-html="{{photo.titleTemplate}}">
                        <img ng-src="{{photo.path}}" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- PROGRAMS -->
<div class="section section-dark">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">
                Programs
            </h2>
        </div>
        <div class="row">
            <div class="cards cards-dark">
                <div ng-repeat="program in vm.site.programs" class="card col-md-2">
                    <h4 class="card-header">{{program.program.name}}</h4>
                    <p>{{program.program.description}}</p>
                    <p>Count: {{program.count}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOCATION -->
<div class="section section-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-4">
                <div class="section-details">
                    <h2>Location</h2>
                    <div class="details-lead">
                        <p>{{vm.site.address.friendlyLocation}}</p>
                    </div>
                    <p>{{vm.site.address.addressLine1}}</p>
                    <p>{{vm.site.address.city}} {{vm.site.address.province}}</p>
                    <p>{{vm.site.address.postalCode}}</p>
                    <p class="details-trail">
                        <a href="tel:{{vm.site.phone}}">{{vm.site.phone}}</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-7 col-lg-8">
                <rdc-map site="vm.site"></rdc-map>
            </div>
        </div>
    </div>
</div>
