
<div class="content-container" id="content-container">
    <div class="jumbotron jumbotron-site">
        <div class="container">
            <div class="title">
                <h3>
                    Site 1
                </h3>
                <p class="normal">123 Some Street, winnipeg mb</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="content">
                <div class="list">
                    <div class="row">

                        <div class="col-md-6">
                            <h2>Programs</h2>
                            <p>(details about the programs offered)</p>
                        </div>

                        <div class="col-md-6">
                            <p class="list-image">
                                <i class="fa fa-th-large"></i>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p class="list-image">
                                <i class="fa fa-clock-o"></i>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h2>Center Hours</h2>
                            <p>7:00 AM - 5:30 PM</p>
                            <p>blah blah blah?</p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- CONTACT -->
    <div class="section color0">
        <div class="container">
            <div class="content">
                <div class="section-header">
                    <h2 class="text-center">Contact</h2>
                </div>

                <div class="row">

                    <div class="col-md-5 box">
                        <h2>Something</h2>
                        <p>blah blah blah blah blah blah blah blah blah blah blah blah </p>
                    </div>

                    <div class="col-md-6">
                        <div class="map2">
                            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=rainbow%20day%20nursery%2C%20255%20Vermillion%20Rd%2C%20Winnipeg&amp;key=AIzaSyAXuaY3jzo_vEw-DwyBxmOi6orRLl7m2eI"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section color2">
        <div class=" container">
            <div class="content">
                <div class="section-header">
                    <h2 class="text-center">Contact</h2>
                </div>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                <div class="row">
                    <div class="col-md-3 box">
                        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    </div>
                    <div class="col-md-3 box">
                        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section color3">
        <div class="container">
            <div class="content">
                <div class="section-header">
                    <h2 class="text-center">Contact</h2>
                </div>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
            </div>
        </div>
    </div>


</div>
