<!-- BANNER MESSAGE -->
<rdc-banner-message data="vm.messages.banner"></rdc-banner-message>
<!-- MAIN BANNER -->
<div class="main-banner">
    <div class="container" ng-class="{'has-banner-message' : vm.messages.banner.summary}">
        <img class="banner-image" src="/img/rainbow-lg.png"/>
        <h1>
            <span class="callout">RAINBOW</span> Day Nursery
        </h1>
        <p class="lead">Rainbow Day Nursery is one of the largest licensed daycare centres in Winnipeg with 4 full time locations and 2 before and after school locations</p>
    </div>
</div>

<!-- INTRODUCTION -->
<div class="section section-light-gray">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">Who We Are</h2>
        </div>
        <div class="section-body">
            <div class="grid">
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            <img class="hand" src="img/hand_orange.png" />Mission Statement
                        </h3>
                        <p class="grid-text">
                            Rainbow Day Nursery offers childcare services including programs for infants, toddlers, pre-schoolers and school-age children.
                            Rainbow's philosophy is that "Children are our most valuable treasure." Rainbow sees each child as an individual person in the process of growing up at their own pace and in their own way.
                            Rainbow aims to facilitate the learning processes in a safe and nurturing environment.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h3>
                            <img class="hand" src="img/hand_green.png" /> Our Philosophy
                        </h3>
                        <p class="grid-text">
                            We provide all children with a safe, nurturing, loving environment and curriculum. Our program includes opportunities for each child to grow, learn and flourish at their own developmental, cognitive, social, emotional and physical abilities.
                            We ensure that each child's well being, interests and needs are being met through play, routine activities, meals, rest and outdoor play times. Each child is treated as an individual and respected.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REGISTRY -->
<div class="section section-dark-gray">
    <div class="container">
        <div class="section-header section-header-tight">
            <h2 class="text-center">Registry</h2>
        </div>
        <div class="section-body">
            <p class="center-text">Rainbow uses the Manitoba Governments Online Child Care Registry (OCCR). You can register below</p>
            <p class="center-text section-actions">
                <a href="http://www.gov.mb.ca/fs/parentupdate/index.html" target="_blank" class="button-lg attention-grabber">ONLINE REGISTRY</a>
            </p>
        </div>
    </div>
</div>

<!-- PHOTOS -->
<div class="section">
    <div class="section-body">
        <div rdc-flex-slider class="flexslider">
            <ul class="slides" rdc-light-gallery>
                <li ng-repeat="photo in vm.photos" data-src="{{photo.path}}"
                    data-sub-html="{{photo.titleTemplate}}">
                    <img ng-src="{{photo.path}}" />
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- SITES -->
<div class="section section-dark">
    <div class="container">
        <div>
            <div class="section-header">
                <h2 class="text-center">
                    Sites
                    <span class="subdued">
                        <span>({{vm.sites.length}})</span>
                    </span>
                </h2>
            </div>
            <div class="section-body row">
                <!-- FILTER BOX PANEL  -->
                <div class="filter-box hidden-xs col-sm-4 col-md-3">
                    <p class="title">Find Options</p>
                    <hr />
                    <h3>Transportation To Schools</h3>
                    <ul>
                        <li ng-repeat="school in vm.schools" class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="vm.toggleFilter(school)">
                                <span>{{school.name}}</span>
                            </label>
                            <span class="pull-right subdued" ng-show="school.isChecked || !vm.hasSchoolFilter() ">{{school.siteCount}}</span>
                        </li>
                    </ul>

                    <hr />

                    <h3>Programs Offered</h3>
                    <ul>
                        <li ng-repeat="program in vm.programs" class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="vm.toggleFilter(program)">
                                <span>{{program.name}}</span>
                            </label>
                            <span class="pull-right subdued" ng-show="program.isChecked || !vm.hasProgramFilter() ">{{program.siteCount}}</span>
                        </li>
                    </ul>
                </div>

                <!-- LIST OF SITES -->
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="site-list dark">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat="site in vm.sites">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a ng-click="site.isChecked = !site.isChecked">
                                            {{site.name}}
                                            <span ng-if="site.messageSummary" class="callout pull-right">{{site.messageSummary}}</span>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in" rdc-collapse="site.isChecked">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="list-text">
                                                    <div class="list-text-section">
                                                        <p>
                                                            <span>{{site.address.friendlyLocation}}</span>
                                                        </p>
                                                        <p>
                                                            <span>{{site.address.addressLine1}}</span>
                                                        </p>
                                                        <p>
                                                            <span>{{site.address.addressLine2}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="list-text-section">
                                                        <p>
                                                            <a href="tel:{{site.phone}}">{{site.phone}}</a>
                                                        </p>
                                                    </div>
                                                    <p class="secondary">
                                                        {{site.schools.length > 1 ? 'Schools' : 'School' }}
                                                        <ul>
                                                            <li ng-repeat="school in site.schools">
                                                                <span ng-class="{'highlight-text': vm.hasSchoolFilter() && vm.isCheckedSchool(school) }">{{school.name}}</span>
                                                            </li>
                                                        </ul>
                                                    </p>
                                                    <p class="secondary">
                                                        Programs
                                                        <ul>
                                                            <li ng-repeat="program in site.programs">
                                                                <span ng-class="{'highlight-text': vm.hasProgramFilter() && vm.isCheckedProgram(program) }">{{program.name}}</span>
                                                            </li>
                                                        </ul>
                                                    </p>
                                                    <p class="more-info">
                                                        <a ng-href="#/shell/site/{{site.code}}">More info</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 col-md-6">
                                                <div class="list-img">
                                                    <a ng-href="#/shell/site/{{site.code}}">
                                                        <img class="map map-round" ng-src="{{site.address.staticMapSrc}}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
