<!-- BANNER MESSAGE -->
<rdc-banner-message data="vm.messages.banner"></rdc-banner-message>
<!-- MAIN BANNER -->
<div class="main-banner">
    <div class="container" ng-class="{'has-banner-message' : vm.messages.banner.summary}">
        <div class="banner-image">
            <img class="rainbow" src="/img/rainbow-text-lg.png">
        </div>
    </div>
</div>

<!-- INTRODUCTION -->
<div class="section section-light-gray">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">Who We Are</h2>
        </div>
        <div class="section-body">
            <div class="grid">
                <div class="row">
                    <div class="col-md-6">
                        <h3>
                            <img class="hand" src="img/hand_orange.png" />Mission Statement
                        </h3>
                        <p class="grid-text">
                            Rainbow Day Nursery offers childcare services including programs for infants, toddlers, pre-schoolers and school-age children.
                            Rainbow's philosophy is that "Children are our most valuable treasure." Rainbow sees each child as an individual person in the process of growing up at their own pace and in their own way.
                            Rainbow aims to facilitate the learning processes in a safe and nurturing environment.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <h3>
                            <img class="hand" src="img/hand_green.png" /> Our Philosophy
                        </h3>
                        <p class="grid-text">
                            We provide all children with a safe, nurturing, loving environment and curriculum. Our program includes opportunities for each child to grow, learn and flourish at their own developmental, cognitive, social, emotional and physical abilities.
                            We ensure that each child's well being, interests and needs are being met through play, routine activities, meals, rest and outdoor play times. Each child is treated as an individual and respected.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REGISTRY -->
<div class="section section-dark-gray">
    <div class="container">
        <div class="section-header">
            <h2 class="text-center">Registry</h2>
        </div>
        <div class="section-body">
            <p class="center-text">Rainbow uses the Manitoba Governments Online Child Care Registry (OCCR). You can register below</p>
        </div>
        <div class="section-footer">
            <p class="center-text">
                <a href="http://www.gov.mb.ca/fs/parentupdate/index.html" target="_blank" class="button-lg attention-grabber">ONLINE REGISTRY</a>
            </p>
        </div>
    </div>
</div>

<!-- SITES -->
<div class="section section-dark">
    <div class="container">
        <div>
            <div class="section-header">
                <h2 class="text-center">
                    Sites
                    <span class="subdued">(
                        <span>{{vm.sites.length}}</span>)</span>
                </h2>
            </div>
            <div class="section-body row">
                <!-- FILTER BOX PANEL  -->
                <div class="filter-box hidden-xs col-sm-4 col-md-3">
                    <p class="title">Find Options</p>
                    <hr />
                    <h3>Transportation To Schools</h3>
                    <ul>
                        <li ng-repeat="school in vm.schools" class="checkbox">
                            <label>
                                <input type="checkbox" ng-click="vm.toggleSchoolFilter(school)">
                                <span>{{school.name}}</span>
                            </label>
                            <span class="pull-right subdued" ng-show="school.isChecked || !vm.hasSchoolFilter() ">{{school.siteCount}}</span>
                        </li>
                    </ul>

                    <hr />

                    <h3>Programs Offered</h3>
                    <ul>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span>Infant</span>
                            </label>
                            <span class="pull-right">??</span>
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span>Preschool</span>
                            </label>
                            <span class="pull-right">??</span>
                        </li>
                        <li class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span>School age</span>
                            </label>
                            <span class="pull-right">??</span>
                        </li>
                    </ul>
                </div>

                <!-- LIST OF SITES -->
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="site-list dark">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat="site in vm.sites">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a ng-click="site.isChecked = !site.isChecked">{{site.name}}</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse in" rdc-collapse="site.isChecked">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="list-text">
                                                    <p>
                                                        <span>{{site.address.addressLine1}}</span>
                                                    </p>
                                                    <p>
                                                        <span>{{site.address.addressLine2}}</span>
                                                    </p>
                                                    <br/>
                                                    <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
                                                    <p>&nbsp;</p>
                                                    <p class="secondary">With bus service to
                                                        <span>{{site.schools.length}}</span> school
                                                        <span ng-show="site.schools.length > 1">s</span>
                                                        <ul>
                                                            <li ng-repeat="school in site.schools">
                                                                <span ng-class="{'highlight-text': vm.hasSchoolFilter() && vm.isCheckedSchool(school) }">{{school.school.name}}</span>
                                                            </li>
                                                        </ul>
                                                    </p>
                                                    <p class="more-info">
                                                        <a ng-href="#/shell/site/{{site.code}}">More info</a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-9 col-md-6">
                                                <div class="list-img">
                                                    <a ng-href="#/shell/site/{{site.code}}">
                                                        <img class="map map-round" ng-src="{{site.address.staticMapSrc}}">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<img class="map map-round" src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=350x350&maptype=roadmap
    &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
    &markers=color:red%7Clabel:C%7C40.718217,-73.998284" data-bind="tooltip:{title: 'Click to open in Google Maps', placement: 'center'}">

<iframe width="400"
          height="300"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAXuaY3jzo_vEw-DwyBxmOi6orRLl7m2eI&q=Rainbow+Day+Nursery,Winnipeg+Manitoba"></iframe>
-->
