<div class="site-overlay"></div>
<!-- NAVIGATION -->
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Logo is always shown (on standard and mobile menus) -->
            <a ui-sref="shell.home" class="logo" ui-sref-opts="{reload: true}"></a>
            <!-- only show standard menu at bigger resolutions -->
            <nav class="nav-menu-standard">
                <div class="contact-nav pull-right">
                    <a href="http://www.facebook.com/rainbowdaynurseryinc" target="_blank" class="contact-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="contact-email" href="mailto:inforainbowdn@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="tel:204-256-0672">
                        <i class="contact-phone fa fa-phone"></i>
                    </a>
                </div>
                <ul class="pull-right">
                    <li>
                        <a ui-sref="shell.home" ui-sref-opts="{reload: true}" ng-class="{'is-active' : vm.isActive('home')}">Home</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Sites
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu has-icons" role="menu">
                            <li role="presentation" ng-repeat="site in vm.sites">
                                <a role="menuitem" ui-sref="shell.site({id:site.code})" ui-sref-opts="{reload: true}">
                                    <span class="fa fa-check icon" ng-hide="!vm.isActive(site.code)"></span>
                                    <h4>
                                        <span>{{site.name}}</span>
                                    </h4>
                                    <small>
                                        <span>{{site.address.addressLine1}}</span>,
                                        <span>{{site.address.city}}</span>
                                        <span>{{site.address.province}}</span>
                                    </small>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Only show toggle on mobile -->
            <rdc-hamburger-menu></rdc-hamburger-menu>
        </div>
        <!-- Mobile navbar content (hides until toggle translates it)-->
        <nav class="nav-menu-mobile">
            <div class="shadow"></div>
            <div>
                <ul class="main-nav">
                    <li class="main-nav-item">
                        <a ui-sref="shell.home" ui-sref-opts="{reload: true}">Home</a>
                    </li>
                    <li class="main-nav-item">
                        <a>Sites</a>
                    </li>
                    <li class="sub-nav">
                        <ul>
                            <li role="presentation" ng-repeat="site in vm.sites">
                                <a role="menuitem" ui-sref="shell.site({id:site.code})" ui-sref-opts="{reload: true}">
                                    <span class="main">{{site.name}}</span>
                                    <span class="secondary">{{site.address.addressLine1}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

