.business-cards {
    .card {
        display: block;
        color: #363f4d;
        background: white;
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 26px;
        border: 1px solid #ccc;
        padding: 14px 20px 10px 24px;
        box-shadow: 5px 4px 10px rgba(17, 22, 29, 0.36), 1px 1px 31px rgba(0, 0, 0, 0.04) inset;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    @media (max-width: 767px) {
        .card {
            box-shadow: none;
            border: none;
            margin-bottom: 0;
        }
    }

    .card:hover {
        text-decoration: none;
    }

    @media (min-width: 767px) {
        .card:hover {
            -moz-transform: translate3d(0,-3px,0);
            -ms-transform: translate3d(0,-3px,0);
            -o-transform: translate3d(0,-3px,0);
            -webkit-transform: translate3d(0,-3px,0);
            transform: translate3d(0,-3px,0);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
            cursor: pointer;
            text-decoration: none;
        }
    }

    .card:focus {
        text-decoration: none;
    }

    .card h3 {
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 16px;
    }

    .card .card-header {
        display: block;
        margin-bottom: 10px;
        height: 50px;
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;
    }

    .card .card-body {
        display: block;
    }

    .card p {
        font-size: 14px;
        color: #363f4d;
        margin-bottom: 0;
    }

    .card a {
        font-size: 14px;
    }

    .card .link {
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
        color: #605ce6;
    }

    .card .footnote {
        font-size: 12px;
        margin-top: 17px;
        color: #666;
    }
}
