// TODO: clean up this guy too.
// MAIN FOOTER ----------------------------
.main-footer {
    background: #36474F;
}

// MAIN FOOTER NAV ----------------------------
.main-footer nav {
    padding: 48px;
    color: #fff;
}

// FOOTER COLUMN ----------------------------
.main-footer nav .footer-col {
    float: left;
    margin-right: 40px;
}

// FOOTER COLUMN BODY ----------------------------
.main-footer nav ul {
    list-style-type: none;
}

// FOOTER HEADER ----------------------------
.main-footer nav h3 {
    font-family: "Roboto";
    font-weight: 100;
    margin: 0 0 16px 0;
    font-size: 32px;
    opacity: .87;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.49);
    letter-spacing: 0;
}

// FOOTER ITEM ----------------------------

// FOOTER ITEM ANCHOR ----------------------------
.footer-col .footer-col-item a {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 28px;
    color: #e5e5e5;
}

// FOOTER ITEM ICON ----------------------------
.footer-col .footer-col-item .footer-icon {
    font-size: 22px;
    margin-right: 6px;
}

// FOOTER (small footer) ----------------------------
footer {
    text-align: center;
    padding: 16px;
    position: relative;
    background: #353535;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

// FOOTER CONTACT ----------------------------
.footer-contact {
    display: none;
}

@media (max-width: 740px) {
    .footer-contact {
        display: block;
        margin-bottom: 10px;
    }
}

.footer-contact ul {
    list-style-type: none;
    margin: 0 auto;
    width: 210px;
}

.footer-contact ul li {
    float: left;
}

.footer-contact ul li a {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: white;
    padding-top: 6px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    opacity: 0.5;
}

.footer-contact ul li a.contact-email {
    font-size: 17px;
    padding-top: 7px;
}
