.site-banner-fixed {
    position: fixed;
    background-color: #2b2d32;
    top: 59px;
    height: 63px;
    width: 100%;
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.31);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    -moz-transition: transform 1.5s cubic-bezier(.19,1,.22,1);
    -o-transition: transform 1.5s cubic-bezier(.19,1,.22,1);
    -webkit-transition: transform 1.5s cubic-bezier(.19,1,.22,1);
    transition: transform 1.5s cubic-bezier(.19,1,.22,1);

    &.active {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .title {
        width: 100%;
        cursor: pointer;
    }

    .title h1 {
        display: inline-block;
        font-size: 36px;
        line-height: 64px;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        margin-left: 20px;
        margin-right: 20px;
    }

    .title .nav-button {
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: 50px;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 38px;
        font-size: 34px;
        text-align: center;
        color: white;
        opacity: 0.5;
        -moz-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
    }

    .title .nav-button:hover {
        opacity: 1;
    }

    .title .nav-button.prev {
        padding-right: 4px;
    }

    .title .nav-button.next {
        padding-left: 4px;
    }
}
