
.main-banner {
    margin-top: 60px;
    background: #222;
    height: 280px;
    overflow: hidden;
    position: relative;
    padding-top: 30%;
}

.main-banner-background {
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(23, 21, 21, 0.2) 80px);
}

.main-banner img.kenburns-effect {
    -moz-animation: zoom 12s alternate infinite;
    -o-animation: zoom 12s alternate infinite;
    -webkit-animation: zoom 12s alternate infinite;
    animation: zoom 12s alternate infinite;
    position: absolute;
    top: 0;
    left: -5%;
    width: 110%;
    height: 165%;
}

.main-banner .container {
}

.main-banner .title {
    color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 57px;
}

.main-banner .title h1 {
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed';
    font-size: 3em;
    line-height: 1.2em;
    font-weight: bold;
}

.main-banner .title h1 .emphasis {
    font-family: 'Open Sans Condensed';
    color: orange;
    font-size: 68px;
}

.main-banner .title h1 .normal {
    display: inline-block;
    font-size: 63px;
}

.main-banner .title .lead {
    font-family: 'Roboto';
    font-weight: 400;
    color: #ddd;
    font-size: 24px;
}

.jumbotron {
    color: rgba(255, 255, 255, 0.05);
    padding: 0;
}