.navbar {
    background: #222;
    height: 27px;
}

.content-container {
}

.header-image {
    margin-top: 20px;
    height: 250px;
    width: 100%;
    background: #eee;
    text-align: center;
}

    .header-image img {
        max-height: 250px;
    }

.jumbotron-site {
    //background: url(/images/painted.hands.png) no-repeat fixed top center;
    margin-top: 50px;
    background: #222;
    height: 220px;
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

.horizontal-group li {
    float: left;
}

@media (min-width: 1200px) {
    .content {
        left: 16.66667%;
    }
}

@media (min-width: 992px) {
    .content {
        left: 16.66667%;
    }
}

@media (min-width: 1200px) {
    .content {
        float: left;
        width: 66.66667%;
    }
}

@media (min-width: 992px) {
    .content {
        float: left;
        width: 66.66667%;
    }
}

@media (min-width: 768px) {
    .content {
        float: left;
        width: 100%;
    }
}


.footer {
    height: 52px;
    color: #111;
    padding-top: 15px;
}