.main-banner .banner-image {
    background: url("../img/rainbow-lg.png") no-repeat;
    background-size: contain;
    height: 337px;
    margin-top: 70px;
    margin-bottom: -10px;
}


.main-banner .title h1 {
    text-align: center;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto";
}


.main-banner .title h1 .emphasis {
    
}


.main-banner .title .lead {
    text-align: center;
    font-size: 18px;
    color: #4c4c4c;
    font-family: "Roboto";
}