.cards {
    
}


.cards.cards-dark .card {
    color: rgba(204, 204, 204, 0.67);
    background: #202020;
    border: 4px solid #323232;
    border-radius: 5px;
    float: left;
    margin-right: 25px;
    min-width: 240px;
    margin-bottom: 25px;
    padding-bottom: 7px;
}


.cards.cards-dark .card h4 {
    color: #ed9d13;
    border-bottom: 3px solid #323232;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 7px;
    font-weight: 600;
    text-transform: uppercase;
}


.cards.cards-dark .card p {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 3px;
}


// ----------
.cards.cards-light .card {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 26px;
    border-top: 1px solid rgba(128, 128, 128, 0.31);
    padding-top: 14px;
}


.cards.cards-light .card .icon {
    font-size: 25px;
    display: inline;
    float: left;
    margin-right: 14px;
}

.cards.cards-light .card h3 {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
}


.cards.cards-light .card p {
    font-size: 13px;
    color: #363f4d;
    margin-bottom: 2px;
}


.cards.cards-light .card a {
    font-size: 14px;
}