.navbar {
    background: #3c3d3d none;
    height: 60px;
    border-bottom: 1px solid black;
}


.navbar .logo {
    opacity: 0.7;
    color: #ccc;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 800;
    line-height: 60px;
}


.navbar .logo:hover {
    opacity: 1;
    text-decoration: none;
    color: #eff556;
}


.nav.navbar-nav {
    padding-right: 200px;
}


.navbar-nav > li {
    margin-right: 20px;
}


.navbar-nav > li a {
    font-size: 19px;
    color: white;
    line-height: 30px;
    cursor: pointer;
    padding: 15px 15px 12px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}


.navbar-nav > li a.active {
    background: #222;
    color: white;
    border-radius: 10px;
}


.nav > li a:focus {
    text-decoration: none;
    color: white;
    background: #333;
}


.nav > li a:hover {
    text-decoration: none;
    color: white;
    background: #2d2d2d;
}


.nav .open > a,
.nav .open > a:hover {
    background: #333;
}


////////////////////////// DROPDOWN-MENU /////////////////////
.dropdown-menu > li:last-child {
    border-bottom: none;
}


.dropdown-menu.with-arrow {
    padding: 0;
    border-radius: 0;
    margin-top: 0;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 29px 18px rgba(0, 0, 0, 0.32);
}


.navbar-nav > li > .dropdown-menu.with-arrow {
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}


.dropdown-menu.with-arrow > li > a {
    width: 100%;
    color: #999;
    border-top: 1px solid #ddd;
    padding: 12px 30px 8px 20px;
    text-overflow: ellipsis;
    -moz-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    -webkit-transition: background 100ms linear;
    transition: background 100ms linear;
}


.dropdown-menu.with-arrow > li > a.active,
.dropdown-menu.with-arrow > li > a:focus {
    color: #f9be03;
    background: transparent;
    outline: none;
    border-radius: 0;
}


.dropdown-menu.with-arrow > li:first-child > a {
    border: none;
}


.dropdown-menu.with-arrow > li > a > h4 {
    font-size: 18px;
    margin: 0;
    line-height: 14px;
    color: #333;
}


.dropdown-menu.with-arrow > li > a.active h4 {
    color: #f9be03;
}


.dropdown-menu.with-arrow > li > a > small {
    color: #666;
    font-size: 14px;
    line-height: 20px;
}


.dropdown-menu.with-arrow > li > a:hover {
    background-color: #eee;
}


.dropdown-menu.with-icons > li > a {
    padding-left: 30px;
    position: relative;
}


.dropdown-menu.with-icons > li > a > .icon {
    position: absolute;
    left: 14px;
    top: 16px;
    font-size: 8px;
    color: #3c3d3d;
}