.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top: 0;
  left: 0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active {
  top: 5px;
  left: 5px;
  opacity: 1;
}
.view-slide-in.ng-leave {
  top: 0;
  left: 0;
  opacity: 0;
}
/* ========================================================
 *  ARROWS
 *  From: http://cssarrowplease.com
 * ======================================================== */
.arrow-right {
  position: relative;
}
.arrow-right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  display: inline-block;
  border-left-color: #283941;
  border-width: 10px;
  margin-top: -10px;
}
.arrow-up-nav-dropdown {
  position: relative;
}
.arrow-up-nav-dropdown:after,
.arrow-up-nav-dropdown:before {
  left: 9%;
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  display: inline-block;
}
.arrow-up-nav-dropdown:before {
  border-bottom-color: rgba(0, 0, 0, 0.95);
  border-width: 16px;
  margin-left: -16px;
}
a.button-lg {
  padding: 11px 23px;
  border: 1px solid #bbb;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
a.button-lg:hover {
  cursor: pointer;
  text-decoration: none;
}
a.attention-grabber {
  background: #e46119;
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-shadow: 0 -1px 1px #b06339;
  border: 1px solid #B06339;
  line-height: 48px;
}
.attention-grabber:hover {
  color: white;
  background: #FF6917;
}
.filter-box {
  color: #aaa;
  background: #202020;
  padding: 20px 1em;
  border: 8px solid #323232;
  display: block;
  font-size: 1.4em;
  border-radius: 1em;
  box-shadow: 0 0 5px #222;
  position: relative;
}
.filter-box .title {
  color: #ed9d13;
  font-weight: 100;
  font-size: 18px;
}
.filter-box h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #6ab825;
  padding-bottom: 11px;
  font-weight: 600;
}
.filter-box hr {
  border-color: rgba(255, 255, 255, 0.25);
}
.filter-box ul {
  margin-bottom: 30px;
}
.filter-box ul li {
  font-size: 16px;
  margin-bottom: 13px;
}
.filter-box.hr {
  border-top: 2px solid rgba(136, 136, 136, 0.26);
  margin-top: 20px;
  width: 100%;
}
.filter-box ul li .subdued {
  color: #777;
  font-size: 15px;
  font-weight: 600;
}
.flexslider {
  margin: 0 0 20px;
  min-height: 208px;
  overflow: hidden;
}
.flexslider .flexslider-container {
  overflow: hidden;
}
.flexslider .flexslider .slides img:hover {
  cursor: pointer;
}
.flexslider .flex-control-nav {
  overflow: hidden;
  max-height: 20px;
}
.flexslider .slides img {
  width: auto !important;
  height: 200px;
}
.flexslider .flex-direction-nav a {
  height: 45px;
}
.lg-sub-html h4 {
  font-size: 17px;
  font-weight: normal;
}
.lg-sub-html a {
  color: rgba(255, 255, 255, 0.64);
}
.map {
  width: 100%;
  max-width: 400px;
  border: 8px solid white;
  box-shadow: 0 0 10px #000000, 0 0 20px black inset;
  cursor: pointer;
  border-radius: 3px;
}
.map-lg {
  border: 8px solid white;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
}
.center-text {
  text-align: center;
}
.browsehappy {
  background: #FF4B4B;
  color: white;
  position: absolute;
  height: 30px;
  top: 60px;
  width: 100%;
  padding-top: 4px;
  text-align: center;
}
.browsehappy a {
  color: white;
  text-decoration: underline;
}
h2,
h3 {
  letter-spacing: -0.05em;
}
.site-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  opacity: 0.5;
}
.site-overlay.is-open {
  display: block;
}
.no-scroll {
  overflow-y: hidden;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  background: #fff;
  cursor: default;
}
label {
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
@font-face {
  font-family: 'flexslider-icon';
  src: url('/fonts/flexslider-icon.eot');
  src: url('/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('/fonts/flexslider-icon.woff') format('woff'), url('/fonts/flexslider-icon.ttf') format('truetype'), url('/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Semibold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}


@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}*/
.main-banner {
  padding-bottom: 25px;
  padding-top: 25px;
  background: #f2f2f2;
  background: radial-gradient(circle farthest-side at center, #ffffff 0, #dae4e4 100%);
}
.main-banner .banner-image {
  width: 100%;
}
.main-banner h1 {
  font-size: 60px;
  font-weight: 800;
  font-family: "Roboto";
  text-shadow: 0 0 5px white;
  color: #2C2C2C;
  margin: 4px auto;
  max-width: 700px;
}
@media (max-width: 768px) {
  .main-banner h1 {
    font-size: 40px;
  }
}
.main-banner h1 .callout {
  color: #FB7D26;
  text-transform: uppercase;
}
.main-banner .lead {
  font-size: 17px;
  color: #555;
  font-family: "Roboto";
  max-width: 700px;
  margin: 10px auto;
}
@media (max-width: 768px) {
  .main-banner .lead {
    font-size: 16px;
  }
}
.banner-message {
  margin-top: 59px;
  background-color: #f1883f;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 7px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}
@media (max-width: 850px) {
  .banner-message {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}
@media (max-width: 640px) {
  .banner-message {
    font-size: 14px;
    padding-bottom: 11px;
  }
}
.banner-message a {
  margin: 0;
  color: white;
  line-height: 11px;
}
.banner-message a:hover {
  cursor: pointer;
}
.banner-message label {
  color: rgba(19, 19, 19, 0.55);
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: 800;
}
.main-banner.has-banner-message {
  margin-top: 0;
}
.site-banner {
  height: 350px;
  margin-top: 59px;
}
@media (max-width: 767px) {
  .site-banner {
    height: 280px;
  }
}
.fixed-2 .site-banner-background {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.site-banner-background .background-stripes {
  background: repeating-linear-gradient(45deg, rgba(228, 228, 228, 0.12), rgba(228, 228, 228, 0.1) 1px, rgba(16, 19, 35, 0) 1px, rgba(22, 26, 51, 0) 13px);
  height: 350px;
  position: absolute;
  top: 59px;
  left: 0;
  width: 100%;
}
.fixed-2 .site-banner-background .background-stripes {
  height: 80px;
}
.site-banner-background .background-spotlight {
  background-image: radial-gradient(rgba(14, 23, 36, 0.93), #000000);
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: -1;
}
.fixed-2 .site-banner-background .background-spotlight {
  height: 80px;
  top: 0;
}
.site-banner h1 {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  line-height: 78px;
  color: white;
  text-transform: uppercase;
  padding-top: 70px;
  text-shadow: 1px 1px 10px black;
  z-index: 2;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
@media (max-width: 767px) {
  .site-banner h1 {
    padding-top: 5px;
    font-size: 50px;
    line-height: 1.1em;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
  }
}
@media (min-width: 609px) and (max-width: 767px) {
  .site-banner h1 {
    padding-top: 35px;
  }
}
.site-banner p {
  text-align: center;
  color: rgba(255, 255, 255, 0.92);
  font-size: 20px;
}
@media (max-width: 767px) {
  .site-banner p {
    font-size: 17px;
    padding-left: 10%;
    padding-right: 10%;
  }
}
.site-banner p .callout {
  background: orange;
  color: white;
  padding: 5px 12px;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 0 0 14px rgba(255, 255, 0, 0.26);
  margin-top: 20px;
  display: inline-block;
}
@media (max-width: 458px) {
  .site-banner p .callout {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .site-banner nav {
    display: none !important;
  }
}
.site-banner nav a {
  position: absolute;
  top: 160px;
  height: 132px;
  width: 52px;
  overflow: hidden;
  -moz-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}
.site-banner nav a:hover {
  cursor: pointer;
  width: 250px;
}
.site-banner nav a.next {
  right: 0;
}
.site-banner nav a.prev {
  left: 0;
}
.site-banner.fixed .section h1 {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 50px;
  line-height: 1.5;
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.site-banner.fixed nav a {
  position: fixed;
  top: 0;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.site-banner nav a .nav-button {
  position: absolute;
  background-color: #a4a4a4;
  height: 100%;
  width: 52px;
  text-align: center;
}
.site-banner nav a:hover .nav-button {
  background-color: #BFBFBF;
}
.site-banner nav a.next .nav-button {
  padding-left: 6px;
  right: 0;
}
.site-banner nav a.prev .nav-button {
  padding-right: 6px;
}
.site-banner nav a i {
  color: #3E3E3E;
  font-size: 80px;
  line-height: 120px;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.site-banner nav a:hover i {
  color: white;
}
.site-banner nav a:active i {
  color: #aaa;
}
.site-banner nav a .info {
  position: absolute;
  top: 0;
  width: 192px;
  height: 100%;
  background-color: #e2e2e2;
  border: 1px solid #c2c2c2;
  color: #6f6f6f;
  padding-top: 40px;
  padding-left: 30px;
}
.site-banner nav a.prev .info {
  left: 52px;
}
.site-banner nav a.next .info {
  right: 52px;
}
.site-banner nav a .info h3 {
  margin-bottom: 2px;
}
.site-banner nav a .info .sub-title {
  font-size: 15px;
}
.site-banner-fixed {
  position: fixed;
  background-color: #EF8300;
  top: 59px;
  height: 63px;
  width: 100%;
  z-index: 1;
  text-align: center;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.64);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -moz-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.site-banner-fixed.active {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.site-banner-fixed .title {
  width: 100%;
  cursor: pointer;
}
.site-banner-fixed .title h1 {
  display: inline-block;
  font-size: 32px;
  line-height: 64px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 20px;
}
.site-banner-fixed .title .nav-button {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  font-size: 34px;
  text-align: center;
  color: white;
  opacity: 0.5;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.site-banner-fixed .title .nav-button:hover {
  opacity: 1;
}
.site-banner-fixed .title .nav-button.prev {
  padding-right: 4px;
}
.site-banner-fixed .title .nav-button.next {
  padding-left: 4px;
}
.business-cards .card {
  display: block;
  color: #363f4d;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 26px;
  border: 1px solid #ccc;
  padding: 14px 20px 10px 24px;
  box-shadow: 5px 4px 10px rgba(17, 22, 29, 0.36), 1px 1px 31px rgba(0, 0, 0, 0.04) inset;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .business-cards .card {
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 0;
  }
}
.business-cards .card:hover {
  text-decoration: none;
}
@media (min-width: 767px) {
  .business-cards .card:hover {
    -moz-transform: translate3d(0, -3px, 0);
    -ms-transform: translate3d(0, -3px, 0);
    -o-transform: translate3d(0, -3px, 0);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    text-decoration: none;
  }
}
.business-cards .card:focus {
  text-decoration: none;
}
.business-cards .card h3 {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 16px;
}
.business-cards .card .card-header {
  display: block;
  margin-bottom: 10px;
  height: 50px;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
}
.business-cards .card .card-body {
  display: block;
}
.business-cards .card p {
  font-size: 14px;
  color: #363f4d;
  margin-bottom: 0;
}
.business-cards .card a {
  font-size: 14px;
}
.business-cards .card .link {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.business-cards .card .footnote {
  font-size: 12px;
  margin-top: 17px;
  color: #666;
}
.cards .card {
  display: block;
  color: #363f4d;
}
.cards.cards-dark .card {
  color: rgba(204, 204, 204, 0.67);
  background: #202020;
  border: 4px solid #323232;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  padding-bottom: 7px;
}
.cards.cards-dark .card h4 {
  color: #ed9d13;
  border-bottom: 1px solid rgba(50, 50, 50, 0.71);
  padding-left: 15px;
  padding-bottom: 10px;
  margin-bottom: 7px;
  font-weight: 600;
  text-transform: uppercase;
}
.cards.cards-dark .card p {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 3px;
}
footer {
  text-align: center;
  padding: 16px;
  position: relative;
  background: #353535;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
footer p {
  margin-bottom: 4px;
}
footer .to-top {
  position: fixed;
  bottom: 0;
  right: 25px;
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
footer .has-to-top .to-top {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
footer .to-top a {
  background: #ccc;
  width: 42px;
  display: inline-block;
  opacity: 0.75;
  text-transform: uppercase;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.5);
  color: black;
  height: 27px;
  cursor: pointer;
  text-decoration: none;
}
footer .to-top a:after {
  border-bottom: 17px solid #CCCCCC;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -17px;
  width: 0;
}
footer .footer-contact {
  display: none;
}
@media (max-width: 740px) {
  footer .footer-contact {
    display: block;
    margin-bottom: 10px;
  }
}
footer .footer-contact ul {
  list-style-type: none;
  margin: 0 auto;
  width: 210px;
}
footer .footer-contact ul li {
  float: left;
}
footer .footer-contact ul li a {
  background-color: #000000;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: white;
  padding-top: 6px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  opacity: 0.5;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
footer .footer-contact ul li a:hover {
  opacity: 0.85;
}
footer .footer-contact ul li a.contact-email {
  font-size: 17px;
  padding-top: 7px;
}
footer .minor-text {
  font-size: 12px;
  color: #777;
}
.grid h3 {
  color: #555;
  font-size: 24px;
  margin: 0 0 0.5em;
  line-height: 28px;
  font-family: "Roboto";
}
.grid .grid-text {
  margin: 0 0 2em;
  font-size: 15px;
  line-height: 1.6em;
  color: #4a4a4a;
  padding-left: 20px;
}
.section {
  padding-top: 50px;
  padding-bottom: 30px;
}
.section.section-light-gray {
  background: #f1f1f1;
  background-color: #f9f9fb;
  border-top: 1px solid #eee;
}
.section.section-dark-gray {
  background-color: #eeeeee;
}
.section.section-blue {
  background-color: #0e1724;
}
.section.section-dark {
  background: #191919;
  background: url('/img/dark-mosaic.png');
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.section.section-orange {
  background-color: #f1883f;
}
.section.has-navbar {
  margin-top: 59px;
}
.section.section-dark .section-header h2 {
  color: #cca300;
}
.section-header {
  padding-bottom: 20px;
  margin-bottom: 15px;
}
.section-header.section-header-tight {
  padding-bottom: 0;
}
.section-header h2 {
  font-size: 2em;
  font-size: 40px;
  line-height: 47px;
  color: #333;
  font-weight: 500;
  font-family: "Roboto";
}
.section-header h2 .subdued {
  font-size: 18px;
  margin-left: 2px;
  color: #bbb;
}
.section .section-details h2 {
  font-size: 34px;
  line-height: 47px;
  color: #333;
  font-weight: 500;
  font-family: "Roboto";
  margin-bottom: 10px;
}
.section.section-orange .section-details h2 {
  color: rgba(255, 255, 255, 0.47);
}
.section .section-details .sub-title {
  margin-bottom: 25px;
  font-size: 18px;
  margin-top: -7px;
  line-height: 1.2em;
  color: #333;
}
.section .section-details .details-lead p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}
.section .section-details p {
  color: #333;
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 8px;
}
.section .section-details .details-trail {
  margin-top: 15px;
}
.section .section-paragraph {
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 30px;
}
.section.section-orange .section-paragraph {
  color: white;
}
.section-body p {
  font-size: 15px;
  line-height: 1.5em;
}
.section-body .section-actions {
  margin-top: 20px;
}
.section .hand {
  width: 81px;
  margin-right: 13px;
}
.navbar {
  background: #443e3e none;
  height: 60px;
  border-bottom: 1px solid #333;
  margin-bottom: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.44);
}
.navbar .navbar-header {
  width: 100%;
  margin: 0;
  -moz-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
  -o-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
  -webkit-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
}
.navbar.mobile-menu-open .navbar-header {
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -o-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}
.navbar .logo {
  opacity: 0.7;
  background-image: url("/img/rainbow-logo-white-sm.png");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: inline-block;
  height: 35px;
  width: 110px;
  margin-top: 12px;
  -moz-transition: opacity 0.15s ease;
  -o-transition: opacity 0.15s ease;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
.navbar .logo:hover {
  opacity: 1;
  text-decoration: none;
  -webkit-filter: initial;
  filter: initial;
}
.navbar .logo:active {
  opacity: 0.8;
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
}
.navbar .nav-menu-standard {
  display: inline;
}
@media (max-width: 740px) {
  .navbar .nav-menu-standard {
    display: none;
  }
}
.navbar .nav-menu-standard ul {
  list-style-type: none;
  margin: 0;
  padding-right: 40px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar .nav-menu-standard ul > li {
  position: relative;
  margin-left: 20px;
  float: left;
}
.navbar .nav-menu-standard ul > li a {
  font-size: 17px;
  font-weight: 600;
  color: white;
  line-height: 30px;
  cursor: pointer;
  padding: 17px 15px 12px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}
.navbar .nav-menu-standard ul > li a.active {
  background: #222;
  color: white;
  border-radius: 10px;
}
.nav-menu-standard ul > li a:focus {
  text-decoration: none;
}
.nav-menu-standard ul > li a.is-active {
  color: white;
  background: #333;
}
.nav-menu-standard ul > li a:hover {
  text-decoration: none;
}
.navbar .nav-menu-standard ul > li a i {
  margin-right: 10px;
}
.navbar .nav-menu-standard ul > li a i.fa-th-large {
  font-size: 16px;
}
.navbar .nav-menu-standard .contact-nav {
  margin-left: 40px;
}
.nav-menu-standard .contact-nav a {
  border-radius: 30px;
  padding: 5px 5px 5px 3px;
  display: inline-block;
  width: 31px;
  height: 31px;
  color: rgba(255, 255, 255, 0.64);
  text-align: center;
  margin-top: 15px;
  font-size: 21px;
  margin-right: 20px;
  margin-left: 0;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  line-height: 20px;
}
.nav-menu-standard .contact-nav a:hover {
  color: white;
}
.nav-menu-standard .contact-nav a.contact-email {
  font-size: 18px;
  padding-left: 5px;
}
.nav-menu-standard .contact-nav a.contact-email:hover {
  color: #FF6B57;
}
.nav-menu-standard .contact-nav a.contact-facebook:hover {
  color: #268FFF;
}
.nav-menu-standard .contact-nav a.contact-phone:hover {
  color: #52e76b;
}
.dropdown-menu > li:last-child {
  border-bottom: none;
}
.navbar .nav-menu-standard .dropdown-menu li {
  margin-left: 0;
}
.navbar .nav-menu-standard .dropdown-menu {
  width: 320px;
  right: 0;
  left: initial;
  padding: 0;
  border-radius: 5px;
  margin-top: 0;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 29px 18px rgba(0, 0, 0, 0.32);
}
.navbar .nav-menu-standard .dropdown-menu li a {
  width: 330px;
  color: #999;
  border-top: 1px solid #ddd;
  padding: 20px 30px 9px 25px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -webkit-transition: background 100ms linear;
  transition: background 100ms linear;
}
.navbar .nav-menu-standard .dropdown-menu > li > a > h4 {
  font-size: 15px;
  margin: 0;
  line-height: 11px;
  color: #333;
  font-weight: 800;
}
.navbar .nav-menu-standard .dropdown-menu > li > a.active h4 {
  color: #f9be03;
}
.navbar .nav-menu-standard .dropdown-menu > li > a > small {
  color: #000;
  font-size: 14px;
  text-transform: none;
  font-weight: 100;
}
.navbar .nav-menu-standard .dropdown-menu > li > a:hover {
  background-color: #eee;
}
.navbar .nav-menu-standard .dropdown-menu.has-icons > li > a {
  padding-left: 35px;
  position: relative;
}
.navbar .nav-menu-standard .dropdown-menu.has-icons > li > a > .icon {
  position: absolute;
  left: 13px;
  top: 17px;
  font-size: 16px;
  color: #52e76b;
}
.navbar .nav-menu-standard .dropdown-menu li:first-child a {
  border: none;
}
.nav-menu-mobile {
  position: fixed;
  top: 0;
  width: 300px;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  z-index: 100;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #404041;
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -moz-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
  -o-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
  -webkit-transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
  transition: transform 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99) 0.2s;
}
.mobile-menu-open .nav-menu-mobile {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.nav-menu-mobile .shadow {
  position: absolute;
  box-shadow: 11px 0 25px rgba(83, 83, 83, 0.81);
  margin-left: -8px;
  width: 7px;
  height: 100%;
}
.nav-menu-mobile .main-nav > .main-nav-item {
  list-style: none;
  border-bottom: 1px solid #ccc;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.nav-menu-mobile .main-nav > .main-nav-item a:hover {
  background-color: #eee;
  cursor: pointer;
}
.nav-menu-mobile .main-nav > .main-nav-item a {
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: white;
  font-weight: 600;
}
.nav-menu-mobile .sub-nav {
  padding: 0;
}
.sub-nav ul li {
  background-color: #F9F9FB;
  -moz-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.sub-nav ul li:first-child {
  box-shadow: 2px 2px 7px rgba(90, 74, 96, 0.16) inset;
}
.sub-nav ul li a {
  width: 100%;
  display: inline-block;
  padding: 25px;
  border-bottom: 1px solid #ccc;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}
.sub-nav ul li a:hover {
  background-color: rgba(68, 81, 86, 0.13);
  border-color: #bbb;
  color: black;
  cursor: pointer;
}
.nav-menu-mobile ul > li a {
  text-decoration: none;
  color: #3d4a50;
}
.nav-menu-mobile ul > li a .main {
  line-height: 24px;
  display: block;
}
.nav-menu-mobile ul > li a .secondary {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
.nav-menu-mobile ul > li .nav-image {
  margin-right: 8px;
}
.navbar-toggle {
  display: none;
  margin-top: 0;
  margin-right: 0;
}
@media (max-width: 740px) {
  .navbar-toggle {
    display: block;
  }
}
.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}
.navbar-toggle .icon-bar {
  position: relative;
  background-color: white;
  margin-top: 12px;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: -6px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.site-list > .panel-group .panel {
  border: 8px solid #323232;
  background-color: #202020;
  border-radius: 1em;
  margin-bottom: 25px;
}
.site-list > .panel-group .panel-heading {
  color: #cacdd1;
  background-color: transparent;
  padding: 0;
}
.site-list .panel-heading h4 {
  font-size: 21px;
  font-weight: 400;
}
.site-list .panel-heading h4 a {
  color: #ed9d13;
  width: 100%;
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
.site-list .panel-heading h4 a .callout {
  background: orange;
  color: white;
  padding: 2px 12px;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 0 0 14px rgba(255, 255, 0, 0.26);
}
.site-list .panel-heading {
  -moz-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.site-list .panel-heading:hover {
  background: rgba(50, 50, 50, 0.52);
  cursor: pointer;
}
.site-list .panel.panel-default .panel-body {
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  border-top: 5px solid rgba(255, 255, 255, 0.09);
  padding: 15px 25px 0;
}
.site-list .list-text {
  padding-bottom: 5px;
  padding-left: 5px;
}
.site-list .list-text .list-text-section {
  margin-bottom: 7px;
}
.site-list .list-text h4 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 12px;
}
.site-list.dark .list-text p {
  margin-bottom: 1px;
  font-size: 16px;
  color: rgba(204, 204, 204, 0.67);
  line-height: 1.6em;
}
.site-list.dark .list-text .highlight-text {
  color: white;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.71);
}
.site-list.dark .list-text > p.secondary {
  color: rgba(204, 204, 204, 0.67);
  font-size: 15px;
}
.site-list.dark .list-text .more-info {
  margin-top: 15px;
}
.list-text .more-info a {
  cursor: pointer;
  color: #447fcf;
}
.site-list .list-text ul {
  list-style-type: disc;
  padding-left: 30px;
}
.site-list .list-text ul li {
  color: rgba(204, 204, 204, 0.67);
  border-bottom: none;
  padding: 0;
}
.site-list .list-text ul li:hover {
  box-shadow: none;
  background: transparent;
}
.list h2 {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
}
.list-img {
  padding-bottom: 20px;
  padding-top: 5px;
}
/*# sourceMappingURL=site.css.map */